* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 45px;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 35px;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

h3 {
    font-size: 24px;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

p {
    color: hsl(201, 11%, 66%);
}

#header {
    width: 100%;
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#header img {
    margin: 8rem 0 4rem 0;
}

#header p {
    font-size: 18px;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    width: 46rem;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    width: 225px;
    height: 55px;
    border-radius: 35px;
    font-size: 17px;
    font-family: "Bai Jamjuree", sans-serif;
    letter-spacing: 1px;
    color: hsl(0, 0%, 100%);
}

button:hover {
    cursor: pointer;
}

.ios {
    background-color: hsl(171, 66%, 44%);
    margin-right: 1rem;
    border: 1px  solid hsl(171, 66%, 38%);
    border-bottom: 4px solid hsl(171, 66%, 38%);
    box-shadow: 0 10px 15px 0 hsla(162, 83%, 55%, 0.253);
}

.ios:hover {
    background-color: hsl(171, 65%, 49%);
}

.mac {
    background-color: hsl(233, 100%, 69%);
    border: 1px  solid hsl(233, 46%, 49%);
    border-bottom: 4px solid hsl(233, 46%, 49%);
    box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.123);
}

.mac:hover {
    background-color: hsl(221, 100%, 69%);
}

#track {
    display: flex;
    flex-direction: column;
}

#track .primary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#track .primary h2 {
    margin: 10rem 0 1.5rem 0;
}

#track .primary p {
    width: 45rem;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 5rem
}

#track .secondary {
    display: flex;
}

#track .secondary img {
    position: relative;
    right: 13rem
}

.content {
    margin: 4rem 0 0 -6rem;
}

.content h3 {
    margin-bottom: .5rem;
}

.content p {
    width: 21rem;
    font-size: 16px;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 3rem;
}

#access {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

#access .primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#access .primary h2 {
    margin-bottom: 1.5rem;
}

#access .primary p {
    width: 45rem;
    line-height: 2rem;
    margin-bottom: 6.5rem
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
#access img {
    width: 57rem;
}

#supercharge {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#supercharge h2 {
    margin-bottom: 1.5rem;
}

#supercharge .primary p {
    text-align: center;
    margin-bottom: 5rem;
}

#supercharge .secondary {
    width: 100%;
    display: flex;
    
    text-align: center;
}

#supercharge .secondary h3 {
    margin: 2rem 0 1rem 0;
}

#supercharge .secondary p {
    width: 22rem;
    font-size: 16px;
    line-height: 2rem;
}

.left {
    margin-top: -.5rem;
}

.middle {
    margin: 0 2rem 0 1.5rem;
}

#companies {
    margin: 10rem 0;
    display: flex;
    justify-content: space-between;
}

.companies-img {
    height: 3rem;
}

#microsoft {
    height: 2.2rem;
}

#hp {
    height: 3.5rem;
}

#vector {
    height: 2rem;;
}

#clipboard {
    display: flex;
    flex-direction: column;
}

.clipboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#clipboard h2 {
    margin-bottom: 1.5rem;
}

#clipboard p {
    width: 42rem;
    line-height: 2rem;
    margin-bottom: 3rem;
}

#clipboard .buttons {
    margin-bottom: 10rem
}

footer {
    width: 100%;
    min-height: 10rem;
    background-color: hsl(204, 24%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 3.5rem;
    align-self: center;
}

.links {
    width: 30rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 14rem;
    margin: 0 2rem 0 23rem ;
}

a {
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}

a:hover {
    color: hsl(171, 66%, 44%)
}

.col {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.margin-bot {
    margin-bottom: 1rem;
}

i {
    color: hsl(210, 10%, 33%);
    margin: .5rem;
}

i:hover {
    cursor: pointer;
    color: hsl(171, 66%, 44%)
}













@media(max-width: 375px) {

    #layout {
        width: 100%;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 1rem;
        width: 20rem;
    }
    
    h2 {
        font-size: 28px;
    }


    #header {
        background-image: url(./images/bg-header-mobile.png);
    }
    
    #header img {
        margin: 7rem 0 4rem 0;
    }
    
    #header p {
        font-size: 16px;
        width: 20.5rem;
        line-height: 26px;
        letter-spacing: .5px;

    }
    
    .buttons {
        flex-direction: column;
    }
    
    button {
        width: 320px;
        margin-bottom: 1.5rem;
    }

    .ios {
        margin-right: 0;
    }

    #track .primary {
        text-align: center;
    }
    
    
    #track .primary h2 {
        margin: 8rem 0 1rem 0;
        width: 20rem;
    }
    
    #track .primary p {
        width: 19.6rem;
        font-size: 16px;
        line-height: 1.7rem;
        margin-bottom: 4rem
    }

    #track .secondary {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    #track .secondary img {
        width: 20rem;
        right: 0;
    }
    
    .content {
        margin: 3.5rem 0 0 0;
    }
    
    .content h3 {
        margin-bottom: .5rem;
    }
    
    .content p {
        width: 19rem;
        line-height: 1.7rem;

    }
    
    #access {
        margin-top: 8.6rem;
    }

    
    #access .primary h2 {
        margin-bottom: 1rem;
        width: 20rem
    }
    
    #access .primary p {
        font-size: 16px;
        width: 19.6rem;
        line-height: 1.7rem;
        margin-bottom: 4rem
    }
    
    .img-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #access img {
        width: 20rem;
    }
    
    #supercharge {
        margin-top: 6.5rem;
        text-align: center;
  
    }
    
    #supercharge h2 {
        width: 20rem;
        margin-bottom: 1rem;
    }
    
    #supercharge .primary p {
        width: 20rem;
        font-size: 16px;
        text-align: center;
        margin-bottom: 5.5rem;
    }
    
    #supercharge .secondary {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    #supercharge .secondary p {
        width: 20rem;
        font-size: 16px;
        line-height: 1.8rem;
        margin-bottom: 4rem;
    }
    
    .left {
        margin-top: 0;
    }
    
    .middle {
        margin: 0;
    }
    
    #companies {
        margin: 4rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .companies-img {
        height: auto;
        width: 8rem;
        margin-bottom: 4rem
   
    }

    #ibm {
        width: 7rem;
    }
    
    #microsoft {
        height: auto;
        width: 8.5rem
    }
    
    #hp {
        height: auto;
        width: 7rem
    }
    
    #vector {
        height: auto;
        width: 6.5rem
    }

    #clipboard {
        align-items: center;
    }
    
    #clipboard h2 {
        margin-top: 2.2rem;
        margin-bottom: 1rem;
        width: 20rem;
    }
    
    #clipboard p {
        width: 19.1rem;
        font-size: 16px;
        line-height: 1.8rem;
        margin-bottom: 3rem;
    }
    
    #clipboard .buttons {
        margin-bottom: 8rem;
    }
    
    footer {
        width: 100%;
        min-height: 31rem;
        background-color: hsl(204, 24%, 96%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    footer img {
        margin: 3rem;
    }
    

    .links {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: static;
        text-align: center;
        align-self: center;
        margin: 0;
    }

    .col {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    
    .margin-bot {
        margin-bottom: 1.5rem;
    }

    .icons {
        margin-bottom: 0;
    }
    
    i {
        color: hsl(210, 10%, 33%);
        margin: 1rem;
    }
    
}